@import '../../styles/theme.scss';

$box-height: 130px;
$box-width: 1.1618 * $box-height;

.box {
  display: flex;
  height: $box-height;
  width: $box-width;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  font-weight: bold;
  font-size: large;
  border: none;
}

.box:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  cursor: pointer;
}

.high {
  background-color: $interview-dark;
  color: $interview-light-text;
  @extend .box;
}

.medium {
  background-color: $interview-light;
  color: $interview-dark-text;
  @extend .box;
}

.low {
  background-color: $bg-light;
  color: $bg-dark;
  @extend .box;
}