@import '../../styles/theme.scss';

.addSkill{
 padding:1em;
background: #ffd651;
color: rgb(26, 14, 3);
border: 1px solid rgba(0, 0, 0, 0.105);
border-radius: 10px;
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.addSkill:hover{
background-color:darken(#ffd651,35%); 
color:rgba(255, 255, 255, 0.809);
box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.376);
}

.addSkill:active{
transform: scale(.98);
}

.centered{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.addInterview{
    padding:1em;
   background: #ffd651;
   color: rgb(26, 14, 3);
   border: 1px solid rgba(0, 0, 0, 0.105);
   border-radius: 10px;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   }